.list-library {
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    color: #f3f3f3;
  }

.list-title-library {
    font-size: 14px;
    margin: 0;
    padding-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.column-titles {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px solid #f3f3f3;
}

.titles {
    margin: 0;
    font-size: 12px;
    padding-left: 10px;
    color: #f3f3f3;
    font-weight: 600;
    border-left: 1px solid #f3f3f3;
}

.table-columns-library {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.song-info {
    font-size: 12px;
    padding-left: 10px;
    color: #f3f3f3;
}